<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.twilio</id>
	<name>Twilio.com Integration</name>
	<description>This plugin provides integration with Twilio for voice and SMS functionality.  This plugin is intended to be a bridge used by other plugins to communicate with Twilio services.</description>
	<author>Webgroup Media, LLC.</author>
	<version>1.3.0</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.twilio.html</link>
	<image>plugin.png</image>
 
 	<!-- Requirements -->

	<requires>
		<app_version min="8.2" max="8.2.99" />
		<php_extension name="curl" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="8.2.0" />
	</dependencies>
	
	<!-- Patches -->
	
	<patches>
		<patch version="7.3.0" revision="1" file="patches/7.3.0.php" />
	</patches>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="WgmTwilio_API" />
		</file>
		
		<!-- [TODO] Is this really necessary? -->
		<file path="libs/twilio-php/twilio.php">
			<class name="TwilioException" />
			<class name="TwilioRestClient" />
			<class name="TwilioRestResponse" />
			<class name="TwilioUtils" />
		</file>
	</class_loader>

	<!-- Extensions -->
 
	<extensions>

		<!-- Service Providers -->
		
		<extension point="cerb.service.provider">
			<id>wgm.twilio.service.provider</id>
			<name>Twilio</name>
			<class>
				<file>api/App.php</file>
				<name>ServiceProvider_Twilio</name>
			</class>
			<params>
				<param key="contexts">
					<value>
						<data key="cerberusweb.contexts.app" />
						<data key="cerberusweb.contexts.worker" />
					</value>
				</param>
			</params>
		</extension>

		<!-- Event Actions -->
		
		<extension point="devblocks.event.action">
			<id>wgmtwilio.event.action.send_sms</id>
			<name>Send SMS Event Action</name>
			<class>
				<file>api/App.php</file>
				<name>WgmTwilio_EventActionSendSms</name>
			</class>
			<params>
				<param key="label" value="Send SMS via Twilio" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
		
    </extensions> 
</plugin>
