<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.twilio</id>
	<name>Twilio.com Integration</name>
	<description>This plugin provides integration with Twilio.com for phone and SMS functionality using the twilio-php API.  This plugin is intended to be a bridge used by other plugins to communicate with Twilio services.</description>
	<author>Webgroup Media, LLC.</author>
	<version>1.0.19</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.twilio.html</link>
	<image>plugin.png</image>
 
 	<!-- Requirements -->

	<requires>
		<app_version min="7.2" max="7.2.99" />
		<php_extension name="curl" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="6.4.0" />
	</dependencies>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="WgmTwilio_API" />
		</file>
		
		<file path="libs/twilio-php/twilio.php">
			<class name="TwilioException" />
			<class name="TwilioRestClient" />
			<class name="TwilioRestResponse" />
			<class name="TwilioUtils" />
		</file>
	</class_loader>

	<!-- Extensions -->
 
	<extensions>

		<!-- Setup Page Menu Item -->

		<extension point="cerberusweb.ui.page.menu.item">
			<id>wgmtwilio.setup.menu.plugins.twilio</id>
			<name>Twilio Plugins Menu Item</name>
			<class>
				<file>api/App.php</file>
				<name>WgmTwilio_SetupPluginsMenuItem</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="menu_id" value="core.setup.menu.settings" />
			</params>
		</extension>
		
		<!-- Setup Page Sections -->
		
		<extension point="cerberusweb.ui.page.section">
			<id>wgmtwilio.setup.twilio</id>
			<name>Setup Page Twilio Section</name>
			<class>
				<file>api/App.php</file>
				<name>WgmTwilio_SetupSection</name>
			</class>
			<params>
				<param key="page_id" value="core.page.configuration" />
				<param key="uri" value="twilio" />
			</params>
		</extension>
		
		<!-- Event Actions -->
		
		<extension point="devblocks.event.action">
			<id>wgmtwilio.event.action.send_sms</id>
			<name>Send SMS Event Action</name>
			<class>
				<file>api/App.php</file>
				<name>WgmTwilio_EventActionSendSms</name>
			</class>
			<params>
				<param key="label" value="Send SMS via Twilio" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
		
    </extensions> 
</plugin>
